{% extends 'base.html' %}
{% load fontawesome %}

{% block nav %}
{% include 'partials/_navbar.html' %}
{% endblock %}


{% block content %}
<section id="service">
    <div class="container">
        {% include 'partials/_alerts.html' %}
        <div class="service-card-item">
            <h2 class="center title">Services</h2>
            <div class="content-service">
                {% if services %}
                {% for service in services %}
                <div class="wrapper">
                    <div class="icon-wrap">
                        <a class="icons" href="#"><i>{{service.icons.as_html}}</i></a>
                    </div>
                    <div class="service-info">
                        <h3><span class="bar">{{service.profession}}</span></h3>
                        <p>
                            {{service.text}}
                        </p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-content">
                    <p class="para">No Service Available</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="col s12 content-wrapper">
            <div class="content-about">
                {% if about_me %}
                {% for about in about_me %}
                <div class="about-image">
                    <img class="img-post lrAnime " src="{{about.image.url}}" alt="About Me">
                </div>
                <div class="about-info">
                    <h4 class="about-title"><span class="top-line">Abo</span>ut <span class="bt">Me</span></h4>
                    <p class="about-text text-anime">{{about.text}}</p>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-content">
                    <p class="para">No Content Available</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
 <!-- My skills -->
<section id="skills">
    <div class="container">
        <div class="row skills">
            <div class="col l3 s12 skills-title">
                <h4 class="right"><span class="top-line">My </span> <span class="bt">Skills</span></h4>
            </div>
            <div class="col l9 s12">
                {% if skills %}
                {% for skill in skills %}
                <div id="progress" class="progress-bar" data-percentage="{{ skill.percentage }}">
                    <h4 class="progress-title-holder">
                        <span class="progress-title">{{ skill.carreer }}</span>
                        <span class="progress-number-wrapper">
                            <span class="progress-number-mark">
                                <span class="percent"></span>
                                <span class="down-arrow"></span>
                            </span>
                        </span>
                    </h4>
                    <div class="progress-content-outter">
                        <div class="progress-content"></div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-content">
                    <p class="para">No Skill Have Yet Posted</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section id="portfolio">
    <div class="container">
        <h3 class="center title">Portfolio</h3>
        <div class="port-gallery">
            {% if portfolios %}
            {% for portfolio in portfolios %}
            <div class="gallery__item">
                    <a id="portBtn" href="{% url 'portfolio' portfolio.id %}">
                        <img src="{{portfolio.image.url}}" class="gallery__img" alt="Image 1">
                    </a>
            </div>
            {% endfor %}
            {% else %}
            <div class="no-content">
                <p class="para">No content available</p>
            </div>
            {% endif %}
        </div>
        <div class="pagination">
            {% if portfolios.has_other_pages %}
            <div class="paginators">
                {% if portfolios.has_previous %}
                <a class="clr" href="?page={{portfolios.previous_page_number}}">&laquo;</a>
                {% else %}
                <a class="disabled clr">&laquo;</a>
                {% endif %}
                {% for i in portfolios.paginator.page_range %}
                {% if portfolios.number == i %}
                <a class="active">{{i}}</a>
                {% else %}
                <a href="?page={{i}}">{{i}}</a>
                {% endif %}
                {% endfor%}
                {% if portfolios.has_next %}
                <a class="clr" href="?page={{portfolios.next_page_number}}">&raquo;</a>
                {% else %}
                <a class="disabled clr">&raquo;</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</section>
<section id="client">
    <div class="slider-wrap">
        <div id="slider">
            <div class=" container client-testimonial">
                <h3 class="center">What Clients Are Saying</h3>
                {% if testimonials %}
                {% for testimonial in testimonials %}
                <div class="client-testimonial-content fade">
                    <blockquote class="flow-text center">
                        {{testimonial.quote}}
                    </blockquote>
                    <h4 class="client-name center"> -- {{testimonial.full_name}}</h4>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-content">
                    <p class="para">No Testimonial have yet posted</p>
                </div>
                {% endif %}
            </div>
            <br>
            <div class="center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
</section>
<!-- Blog section -->
<!-- <section id="blogs">
    <h3 class="center bp ">Blog Posts</h3>
    <div class="blog-wrapper container">
        {% if blogs %}
        {% for blog in blogs %}
        <div class="blog-content ">
            <div class="blog-image">
                <img src="{{ blog.image.url }}" alt="Blog Post">
            </div>
            <div class="blog-info">
                <h3 class="blog-title">{{ blog.title|truncatewords:10 }}</h3>
                <h4 class="blog-date">{{ blog.date_publish|date:"F d, Y" }}</h4>
                <p class="blog-text">{{ blog.description|truncatewords:23}}</p>
                <a href="{% url 'blog' blog.id %}"
                    class="btn blog-btn white green-text text-darken-3 waves-effect waves-green">Read
                    More...</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="no-content">
            <p class="para">No Blog Available</p>
        </div>
        {% endif %}
    </div>
</section> -->
<section id="contact" class="section section-contact center scrollspy">
    <div id="googlemap"></div>
    <div class="containter">
        <div class="row my-form">
            <div class="col s12 m6 offset-m6 ">
                <div class="card-panel z-depth-5 form-clr">
                    <h4 class="white-text">Contact Me</h4>
                    <form action="{% url 'index' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-field">
                            <input name="first_name" id="first_name" type="text" class="validate" required>
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field">
                            <input id="last_name" name="last_name" type="text" class="validate" required>
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="input-field">
                            <input type="text" name="email" id="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input id="subject" name="subject" type="text" class="validate" required>
                            <label for="subject">Message Subject</label>
                        </div>
                        <div class="input-field">
                            <textarea name="message" id="message-field" class="materialize-textarea" cols="30" rows="10"
                                required></textarea>
                            <label for="message">Type your message here...</label>
                        </div>
                        <button class="btn waves-effect waves-green white-text btn-clr" type="submit" name="action">Send
                            Message
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}