{% load static %}
<header class="main-header2">
    <div class="">
        <div class="navbar-fixed">
            <nav class="green main-nav2">
                <div class="nav-wrapper">
                    <div class="row container">
                        <div class="col s12">
                            <a href="{% url 'index' %}" class="logo-link center brand-logo">
                                <div class="logo-img">
                                    <img src="{% static 'images/ao-logo-white.png' %}" alt="logo">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>